.popupUpdateProduct {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 3;


    

    .updateInformation {
        position: absolute;
        left: 50vw;
        top: 50vh;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 70px 100px;
        border-radius: 8px;
        height: 70vh;

        .removeIcon {
            position: absolute;
            top: 20px;
            right: 20px;
            width: unset;
            padding: 10px;
            display: block;
            cursor: pointer;
            .icon{
                font-size: 20px;
            }
        }

        .table {
            text-align: center;
            width: auto;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;

            tbody {
                td {
                    input {
                        border: none;
                        width: 40px;
                        text-align: center;
                    }
                }
            }
        }

        div {
            margin: 10px 10px;

            >button {
                font-size: 20px;
            }
        }


        div:last-child {
            display: block;
            width: 100%;
            text-align: center;
        }


    }
}